 {% extends 'layout.html' %}

{% block content %}
    <div class="bg-light text-center fw-bold w-50 rounded shadow deletePage ">
        <p class="fs-3 p-3" >Are you sure want to Delete <br> <span class="text-danger"> "{{item}}" </span> ?</p>
        <a class=" text-decoration-none bg-dark rounded-1 btncancel" href="{% url 'index' x.id %}">cancel</a>
         
               <form method="POST" action="">
                    {% csrf_token %}
        
                <input class="btnsubmit_del bg-dark rounded-1" type="submit" name="confirm">
        

                </form>

    </div>


 {% endblock content %} 

 