{% extends 'layout.html' %}


{% block content %}
<div class=" bg-secondary rounded   mainpage ">
    <div class="logout accordion-body mt-4">
        <a href="/" class="bg-light text-center rounded  text-decoration-none  p-1 text-dark  ">logout</a>
        </div>
<h1 class="text-dark text-center pt-3"> Ease Your Activities {{user.username}} </h1>

   

<form class="indexform" method="POST" action="index">

    {% csrf_token %}

     {{ form.title }}  
    <input class="submitbtn p-2 " type="submit" name="Create Todo">

</form>

    
        {% for x in create %}
            <div class="UpDelCol container-fluid mt-3 ">
                <a class="btnUpdate text-decoration-none  btn-dark" href="{% url 'update_create' x.id %}">update</a>
                <a class="Deletebtn text-decoration-none  btn-light" href="{% url 'delete' x.id %}">Delete</a>
            
                {% if x.complete == True %}
                <strike class="activites mx-3 fw-bold "> {{ x }} </strike>
                {% else %}
                <Span class="activites mx-3 fw-bold ">{{ x }}</Span>
            
                {% endif%}
            </div>  
        {% endfor %} 

     
    </div>


    <style>
        .logout{
            margin-left: 90%;
        }
    </style>
           



{% endblock content %}